In [1]:
# Import and create a new SQLContext 
from pyspark.sql import SQLContext
sqlContext = SQLContext(sc)

ImportError: No module named pyspark.sql

In [2]:
# Read the country CSV file into an RDD.
country_lines = sc.textFile('file:///home/cloudera/Downloads/big-data-3/final-project/country-list.csv')

In [3]:
country_lines.count()

211

In [111]:
# Convert each line into a pair of words
words = country_lines.flatMap(lambda line : line.split(","))

In [112]:
# Convert each pair of words into a tuple
country_tuples =words.map(lambda word: (word,1))

In [113]:
# Create the DataFrame, look at schema and contents
countryDF = sqlContext.createDataFrame(country_tuples, ["country", "code"])
countryDF.printSchema()
countryDF.take(3)

root
 |-- country: string (nullable = true)
 |-- code: long (nullable = true)

[Row(country='Afghanistan', code=1),
 Row(country=' AFG', code=1),
 Row(country='Albania', code=1)]

In [114]:
ct = countryDF.toPandas()

In [117]:
ct.loc[0]

country    Afghanistan
code                 1
Name: 0, dtype: object

In [121]:
len(ct)

422

In [7]:
pwd

'/home/cloudera/Downloads/big-data-3/final-project'

In [16]:
# Read tweets CSV file into RDD of lines

In [136]:
df = sc.textFile('file:///home/cloudera/Downloads/big-data-3/final-project/tweet1.csv')

In [137]:
df.count()

13995

In [138]:
# Clean the data: some tweets are empty. Remove the empty tweets using filter() 
df = df.filter(lambda x: x)

In [139]:
df.count()

13391

In [143]:
# Perform WordCount on the cleaned tweet texts. (note: this is several lines.)
tweet_words = df.flatMap(lambda line : line.split(" "))
tweet_tuples = tweet_words.map(lambda word: (word,1))

In [144]:
tweet_tuples.count()

183316

In [145]:
counts = tweet_tuples.reduceByKey(lambda a,b : (a+b))

In [146]:
counts.count()

26634

In [147]:
# Create the DataFrame of tweet word counts
tweetDF = sqlContext.createDataFrame(tweet_tuples, ["tweet", "code"])
tweetDF.printSchema()
tweetDF.take(3)

root
 |-- tweet: string (nullable = true)
 |-- code: long (nullable = true)

[Row(tweet='tweet_text', code=1),
 Row(tweet='RT', code=1),
 Row(tweet='@ochocinco:', code=1)]

In [148]:
tweetDF = sqlContext.createDataFrame(counts, ["country", "count"])
tweetDF.printSchema()
tweetDF.take(3)

root
 |-- country: string (nullable = true)
 |-- count: long (nullable = true)

[Row(country='', count=3292),
 Row(country='https://t.co/fQftAwGAad', count=1),
 Row(country='mobile', count=1)]

In [149]:
tt = tweetDF.toPandas()

In [150]:
tt.head()

                   country  count
0                            3292
1  https://t.co/fQftAwGAad      1
2                   mobile      1
3    #FridayNightTouchdown      1
4                   circle      7

In [151]:
len(tt)

26634

In [152]:
result = pd.merge(ct, tt, on='country')

In [153]:
len(result)

44

In [154]:
sum(result['count'])

397

In [155]:
result.sort(columns ='count',ascending= False)

/home/cloudera/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

        country  code  count
30       Norway     1     52
29      Nigeria     1     49
9        France     1     42
37     Slovakia     1     30
8       England     1     25
12      Germany     1     20
43        Wales     1     19
35       Russia     1     15
4        Brazil     1     13
28  Netherlands     1     13
5        Canada     1     11
41  Switzerland     1     10
6          Chad     1      9
33     Portugal     1      8
39        Spain     1      8
14       Guinea     1      8
18         Iraq     1      6
23       Jordan     1      6
22        Japan     1      5
3       Austria     1      5
11      Georgia     1      5
16        India     1      4
34        Qatar     1      4
24        Kenya     1      3
19       Israel     1      2
21      Jamaica     1      2
1     Argentina     1      2
2     Australia     1      2
40        Sudan     1      2
15      Iceland     1      2
36     Scotland     1      2
10       Gambia     1      1
42     Thailand     1      1
38      Somalia     1      1
7       Denmark     1      1
31         Oman     1      1
32       Poland     1      1
20        Italy     1      1
13        Ghana     1      1
27        Nepal     1      1
26       Mexico     1      1
25       Kosovo     1      1
17         Iran     1      1
0       Albania     1      1

In [157]:
result['count'].mean()

9.022727272727273

In [72]:
# Inner Join the country and tweet data frames (on the appropriate column)
merge = tweetDF.join(countryDF,"country")

In [ ]:
# Question 2: number of countries mentioned in tweets.
from pyspark.sql.functions import sum

In [ ]:
# Table 1: top three countries and their counts.
from pyspark.sql.functions import desc

In [ ]:
# Table 2: counts for Wales, Iceland, and Japan.