In [60]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
import statsmodels.api as sm

In [52]:
df = pd.io.parsers.read_csv(
    'https://raw.githubusercontent.com/rasbt/pattern_classification/master/data/wine_data.csv',
     header=None,
     usecols=[0,1,2]
    )

df.columns=['Class label', 'Alcohol', 'Malic acid']

df.head()

   Class label  Alcohol  Malic acid
0            1    14.23        1.71
1            1    13.20        1.78
2            1    13.16        2.36
3            1    14.37        1.95
4            1    13.24        2.59

In [57]:
df_test = df[['Alcohol', 'Malic acid']]

In [58]:
std_scale = preprocessing.StandardScaler().fit(df_test)
df_std = std_scale.transform(df_test)

In [59]:
df_test.head()

    Alcohol  Malic acid
0  1.518613   -0.562250
1  0.246290   -0.499413
2  0.196879    0.021231
3  1.691550   -0.346811
4  0.295700    0.227694

In [37]:
df.describe()

       Class label       Alcohol    Malic acid
count   178.000000  1.780000e+02  1.780000e+02
mean      1.938202 -8.382808e-16 -1.197544e-16
std       0.775035  1.002821e+00  1.002821e+00
min       1.000000 -2.434235e+00 -1.432983e+00
25%       1.000000 -7.882448e-01 -6.587486e-01
50%       2.000000  6.099988e-02 -4.231120e-01
75%       3.000000  8.361286e-01  6.697929e-01
max       3.000000  2.259772e+00  3.109192e+00

In [39]:
minmax_scale = preprocessing.MinMaxScaler().fit(df[['Alcohol', 'Malic acid']])
df_minmax = minmax_scale.transform(df[['Alcohol', 'Malic acid']])
df[['Alcohol', 'Malic acid']] = df_minmax

In [40]:
df.describe()

       Class label     Alcohol  Malic acid
count   178.000000  178.000000  178.000000
mean      1.938202    0.518584    0.315484
std       0.775035    0.213639    0.220780
min       1.000000    0.000000    0.000000
25%       1.000000    0.350658    0.170455
50%       2.000000    0.531579    0.222332
75%       3.000000    0.696711    0.462945
max       3.000000    1.000000    1.000000

In [12]:
df.head()

   Class label   Alcohol  Malic acid
0            1  1.518613        1.71
1            1  0.246290        1.78
2            1  0.196879        2.36
3            1  1.691550        1.95
4            1  0.295700        2.59